@model BasketballAcademyBlog.Models.Publication

@{
    ViewBag.Title = "ReadPost";
}

<div class="container">
    <article class="col-md-4">
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <small class="author">
            Posted by @Model.Author.FullName
        </small>
        <footer class="pull-right">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", "Publication", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
            @Html.ActionLink("Back", "Index", "Publication", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
  

    @if (User.Identity.IsAuthenticated)
    {
        <hr />
        <iframe width="560"
                height="315"
                src="@Model.Link"
                frameborder="1"
                allowfullscreen></iframe>
                <hr/>
    }
    else
    {
        <hr />
        <p class="alert-dismissible"> LOGIN OR REGISTER
     <br> REACHING WHOLE RESOURCES FOR THIS LESSON</p>
        <hr/>
    }   
</div>


